.characters-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin: 20px;
}



.spinner_cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px
}